---
import Layout from "../layouts/Layout.astro";
import ParalaxTitle from "../components/ParalaxTitle.astro";
import electrica from "../images/ing-e.jpg";
import mecanica from "../images/ing-m.jpg";
import producto from "../images/productos/tableros.png";
const electrical_server = await Astro.glob(
  "../pages/servicios/electrica/*.mdx",
);
const mechanical_services = await Astro.glob(
  "../pages/servicios/mecanica/*.mdx",
);
---

<Layout title="COPELSA | INGENIERÍA ELÉCTRICA Y MECÁNICA Quito, Ecuador">
  <main>
    <ParalaxTitle imagen="c1" title="" />
    <div class="section">
      <div class="container">
        <p>
          COPELSA (Construcciones de Proyectos Eléctricos y Mecánicos Salazar)
          es una empresa ecuatoriana de Ingeniería Eléctrica y Mecánica, que se
          dedica al estudio, planificación y construcción de proyectos
          eléctricos de distribución, telefónicos e instalaciones residenciales;
          además de proyectos mecánicos, como el diseño y la construcción de
          sistema de aire acondicionado, extracción y ventilación mecánica,
          sistemas contraincendios y sistemas fotovoltaicos. Cuenta con
          profesionales capacitados dentro de las respectivas áreas, que
          permiten una correcta planificación y ejecución de los distintos
          proyectos con la aprobación de estos en entidades municipales como lo
          es el CAE, DESINTECSA, Cuerpo de Bomberos de Quito, etc. COPELSA
          trabaja desde 2004 como contratista calificado en la Empresa Eléctrica
          Quito (EEQ), nuestra razón de ser es el compromiso que tenemos con
          nuestros clientes para ofrecer soluciones efectivas dentro de la
          Ingeniería Eléctrica y Mecánica.
        </p>
      </div>
    </div>
    <ParalaxTitle imagen="c2" title="Servicios" />
    <div class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title-text">Ingeniería Eléctrica</h1>
            <ul>
              {
                electrical_server.map((service) => (
                  <li>
                    <a href={service.frontmatter.url} class="navbar-item">
                      {service.frontmatter.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
          <div
            class="column is-flex is-flex-direction-column is-aling-items-center is-justify-content-center"
          >
            <img src={electrica} alt="" class="index-img" />
          </div>
        </div>
        <div class="columns">
          <div
            class="column is-flex is-flex-direction-column is-aling-items-center is-justify-content-center"
          >
            <div class="container">
              <img src={mecanica} alt="" class="index-img" />
            </div>
          </div>
          <div class="column">
            <h1 class="title-text">Ingeniería Mecánica</h1>
            <ul>
              {
                mechanical_services.map((service) => (
                  <li>
                    <a href={service.frontmatter.url} class="navbar-item">
                      {service.frontmatter.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <p>
          Todos nuestros servicios se realizan para garantizada su aprobación en
          las instiruciones como: CAE, EEQ
        </p>
      </div>
    </div>
    <ParalaxTitle imagen="c3" title="Productos" />
    <div class="section">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-one-quarter">
            <img src={producto} alt="" id="producto" />
          </div>
          <div
            class="column is-three-quarters is-flex is-align-items-center is-flex-direction-column is-justify-content-center"
          >
            <p class="has-text-centered" style="font-size: 1.5rem;">
              Contamos con productos de la mejor calidad.<br />
              Todo lo que necesita para sus instalaciones
            </p><br /><a
              href="/productos"
              class="btn button"
              style="width:fit-content; text-aling:center">Ver más</a
            >
          </div>
        </div>
      </div>
    </div>
    <ParalaxTitle imagen="c4" title="" />

    <style>
      h1.title-text {
        font-size: 1.5rem;
      }
      #producto {
        width: auto;
        max-height: 250px;
        background-size: cover;
      }
      .button {
        background-color: #fccc2b !important;
      }
      .button:hover {
        background-color: #395d41 !important;
        color: white !important;
      }
      .index-img {
        max-height: 300px;
        margin: auto;
      }
    </style>
  </main>
</Layout>
