---
import Layout from "../../layouts/Layout.astro";
const electrical_server = await Astro.glob("./electrica/*.mdx");
const mechanical_services = await Astro.glob("./mecanica/*.mdx");
---

<Layout title="Servicios">
  <main>
    <div class="section">
      <div class="container">
        <h1>Ingeniería Eléctrica</h1>
        <div class="columns is-flex-wrap-wrap">
          {
            electrical_server.map((data) => (
              <div class="column is-one-quarter">
                <a href={data.frontmatter.url}>
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src={data.cover} alt={data.title} />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <h2>{data.frontmatter.title}</h2>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <h1 style="text-align: right">Ingeniería Mecánica</h1>
        <div class="columns is-flex-wrap-wrap">
          {
            mechanical_services.map((data) => (
              <div class="column is-one-quarter">
                <a href={data.frontmatter.url}>
                  <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src={data.cover} alt={data.title} />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content">
                        <h2>{data.frontmatter.title}</h2>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .section {
    background-repeat: no-repeat;
  }
  .card {
    height: 100%;
  }
  img {
    height: 200px;
    width: 250px;
    object-fit: cover;
  }
  p {
    margin-bottom: 1em;
  }

  h1 {
    font-size: 2rem;
  }
  .content {
    height: 100%;
  }
  .content h2 {
    font-size: 1.25rem;
    text-align: center;
    margin: 0%;
    height: 100%;
  }

  li:before {
    content: "bolt";
    color: #fccc2b;
    font-family: Material Icons;
  }
  .card:hover img {
    transform: scale(1.2);
  }
  .card {
    overflow: hidden;
  }
</style>
